.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .new-game-btn {
  color: white;
  background-color: black;
  border: 2px solid white;
  padding: 0.7rem 2rem;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-weight: 600;
  font-size: 1.2rem;
}

.container .new-game-btn:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

.turns {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: black;
  border: 2px solid white;
  padding: 0.7rem 2rem;
}

.grid {
  height: 600px;
  width: 600px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.grid div img {
  width: 80%;
}


/* Responsive CSS */

@media screen and (max-width: 600px) {
  .grid {
    height: 320px !important;
    width: 100% !important;
    padding-left: 1rem !important;
  }

  .turns {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1400px) {
  .grid {
    height: 470px !important;
  }
}